= form_for @peticionsoftware, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .control-group
    = f.label :user_id, :class => 'control-label'
    .controls
      = f.number_field :user_id, :class => 'number_field'
  .control-group
    = f.label :asignatura, :class => 'control-label'
    .controls
      = f.text_field :asignatura, :class => 'text_field'
  .control-group
    = f.label :titulacion, :class => 'control-label'
    .controls
      = f.text_field :titulacion, :class => 'text_field'
  .control-group
    = f.label :curso, :class => 'control-label'
    .controls
      = f.text_field :curso, :class => 'text_field'
  .control-group
    = f.label :sistemaoperativo, :class => 'control-label'
    .controls
      = f.text_field :sistemaoperativo, :class => 'text_field'
  .control-group
    = f.label :software, :class => 'control-label'
    .controls
      = f.text_area :software, :class => 'text_area'
  .control-group
    = f.label :dondeobtener, :class => 'control-label'
    .controls
      = f.text_field :dondeobtener, :class => 'text_field'
  .control-group
    = f.label :fechacomienzo, :class => 'control-label'
    .controls
      = f.date_select :fechacomienzo, :class => 'date_select'
  .control-group
    = f.label :cometario, :class => 'control-label'
    .controls
      = f.text_area :cometario, :class => 'text_area'
  .control-group
    = f.label :fechayhora, :class => 'control-label'
    .controls
      = f.datetime_select :fechayhora, :class => 'datetime_select'
  .control-group
    = f.label :cursoacademico_id, :class => 'control-label'
    .controls
      = f.number_field :cursoacademico_id, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), peticionsoftwares_path, :class => 'btn'
