- model_class = Peticionsoftware
.page-header
  %h1
    Listado de peticiones
%table.table.table-striped
  %thead
    %tr
      - if current_user.admin?
        %th= 'Profesor'
      %th= 'Asignatura'
      %th= 'Titulación'
      %th= 'Curso'
      %th= 'Sistema Operativo'
      %th= 'Software y Version'
      %th= 'Fecha de Comienzo'
      %th= 'Fecha Petición'
      %th= 'Laboratorios'
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @peticionsoftwares.each do |peticionsoftware|
      %tr
        - if current_user.admin? 
          %td= link_to current_user.username, "http://www.um.es/atica/directorio/?nivel=&lang=0&vista=unidades&search=#{current_user.username}", :target => "_blank"
        %td= link_to peticionsoftware.asignatura, peticionsoftware
        %td= peticionsoftware.titulacion
        %td= peticionsoftware.curso
        %td= peticionsoftware.sistemaoperativo
        %td= peticionsoftware.software
        %td= peticionsoftware.fechacomienzo
        %td= peticionsoftware.fechayhora.stamp("25/09/2012 (20:52)")
        %td 
          - peticionsoftware.laboratorios.each do |lab| 
            =lab
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_peticionsoftware_path(peticionsoftware), :class => 'btn btn-primary btn-mini'
          - if current_user.admin?
            = link_to t('.destroy', :default => t("helpers.links.destroy")), peticionsoftware_path(peticionsoftware), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
    
= link_to t('.new', :default => t("helpers.links.new")), new_peticionsoftware_path, :class => 'btn btn-primary'
