- model_class = Peticionsoftware
.page-header
  %h1 
    Petición de software

    %h2
    = @peticionsoftware.asignatura

    %ul
    %li 
      Profesor:  
      = @peticionsoftware.user.username
    %li 
      Titulacion:
      = @peticionsoftware.titulacion
    %li
      Curso:
      = @peticionsoftware.curso
    %li
      Sistema Operativo:
      = @peticionsoftware.sistemaoperativo
    %li 
      Software y version:
      = @peticionsoftware.software
    %li
      Donde obtenerlo:
      = @peticionsoftware.dondeobtener
    %li
      Fecha de comienzo:
      = @peticionsoftware.fechacomienzo
    %li
      Laboratorios:
      - @peticionsoftware.laboratorios.each do |lab|
        = lab
    %li 
      Comentario:
      = @peticionsoftware.comentario


.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), peticionsoftwares_path, :class => 'btn btn-primary'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_peticionsoftware_path(@peticionsoftware), :class => 'btn btn-primary'
