- model_class = Peticionsoftware
.page-header
  %h1 
    Petición de software

    %h2
    = @peticionsoftware.asignatura

    %ul
    %li 
      Profesor:  
      = @peticionsoftware.user.username
    %li 
      Titulacion:
      = @peticionsoftware.titulacion
    %li
      Curso:
      = @peticionsoftware.curso
    %li
      Cuatrimestre:
      = @peticionsoftware.cuatrimestre
    %li
      Sistema Operativo:
      = @peticionsoftware.sistemaoperativo
    %li 
      Software y version:
      = @peticionsoftware.software
    %li 
      Mismo que curso anterior?
      = @peticionsoftware.anoanterior ? "Si" : "No"
    %li
      Donde obtenerlo:
      = @peticionsoftware.dondeobtener
    %li
      Fecha de comienzo:
      = @peticionsoftware.fechacomienzo
    %li
      Laboratorios:
      - @peticionsoftware.laboratorios.each do |lab|
        = lab
    %li 
      Comentario:
      = @peticionsoftware.comentario


.form-actions
  = link_to 'Atras', peticionsoftwares_path, :class => 'btn btn-primary'
  = link_to 'Editar', edit_peticionsoftware_path(@peticionsoftware), :class => 'btn btn-primary'
