- model_class = Cursoacademico
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @cursoacademicos.each do |cursoacademico|
      %tr
        %td= link_to cursoacademico.id, cursoacademico_path(cursoacademico)
        %td= cursoacademico.name
        %td=l cursoacademico.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_cursoacademico_path(cursoacademico), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), cursoacademico_path(cursoacademico), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_cursoacademico_path, :class => 'btn btn-primary'
